@import "./colors";
@import "./typography";

@import "./buttons";

a {
  &:not(:hover) {
    text-decoration: none !important;
  }
}

.pointer-events-none {
  pointer-events: none;
}
.cursor {
  &-default {
    cursor: default;
  }

  &-pointer {
    cursor: pointer;
  }

  &-not-allowed {
    cursor: not-allowed;
  }

  &-progress {
    cursor: progress;
  }

  &-wait {
    cursor: wait;
  }
}

.shadow-text {
  text-shadow: 2px 1px 2px #000000;
}

.no-hover {
  &:before {
    display: none;
  }
  &:before(:hover) {
    background-color: transparent;
  }
}
